@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Roboto+Slab:wght@400;700;900&display=swap');

/*-- scss:defaults --*/
$pink: #f92672 !default;

$cyan:    #66d9ef !default;

$purple:  #ae81ff !default;
$orange:  #fd971f !default;
$green:   #a6e22e !default;


//$red: #f92672 !default;
//$blue:    #66d9ef !default;

// colors
$primary:       $cyan !default;
$secondary:     $orange !default;

//$link-color:    $cyan !default;
//$sidebar-hl: $pink;

$font-family-sans-serif: "Roboto Slab" !default;
$font-family-monospace: "Fira Mono" !default;
//$headings-font-family: "Jost" !default;


$h1-font-size:          2rem !default;
$h2-font-size:          1.5rem !default;
$h3-font-size:          1.2rem !default;
$headings-font-weight:  800 !default;


//Layout
$content-padding-top: 1em;

/*-- scss:rules --*/



.header-section-number{color: $primary;}
.sidebar-header strong{color: $primary;}

// Shrink blocks of code
pre.text, pre.sourceCode, .cell-output pre {
    font-size: .75em;
}

/*
h1, h2, h3, h4 {
  display:inline-block;
  background: #2e2e2e;
  color: white;
  padding:.25em;
}
*/

